body { 
    font: 14px helvetica neue, helvetica, arial, sans-serif;
  }
  
  #cy {
    height: 1024px;
    width: 1024px;
    margin:auto;
    left: 0;
    top: 0;
    border: 3px solid darkslateblue;
  }