body { 
    font: 14px helvetica neue, helvetica, arial, sans-serif;
    background-color: rgb(30,30,30);
    color: white;
    font-family: arial;
  }
  
  #cy {
    height: 1024px;
    background-color: rgb(30,30,30);
    width: 1024px;
    margin:auto;
    border: 3px solid black;
  }
